<div class="grid_16 alpha omega">
	<% title "Room: #{@room.name}" %>
	<p>
	  <%= link_to "Edit", edit_room_path(@room) %> |
	  <%= link_to "Destroy", @room, :confirm => 'Are you sure?', :method => :delete %> |
	  <%= link_to "View All", rooms_path %>
	</p>
</div>
	
<div class="grid_12 alpha">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1"><%=h @room.name %></a></li>
		</ul>
		<div id="tabs-1">
			<div id="conversation">
				<ul>
					<%= render :partial => Message.for_room(params[:id]) %>
				</ul>
			</div>
			<% form_for [@room, Message.new] do |f| -%>
			  <%= f.text_field :body, :maxlength => "255" %>
			<% end -%>
		</div>
	</div>
</div>

<div class="grid_4 omega">
	<div class="spaced-left">
		<%#= Juggernaut.show_users_for_channels(@room.id).size %>
		<%#= juggernaut(:channels => [@room.id], :client_id => '1') %>
	</div>
</div>

<% content_for :head do %>
	<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();
		});
	</script>
<% end %>